{% extends '../../layout/default.twig' %}

{% block title %}
{% if data.id %}
éditer
{% else %}
ajouter
{% endif %}
une catégorie
{% endblock %}


{% block content %}
<h1>
    {% if data.id %}
    éditer
    {% else %}
    ajouter
    {% endif %}
    une catégorie
</h1>
{% if data.id %}
<form action="{{ url('categorie_update', {id:data.id}) }}" method="post">
    <input type="hidden" name="id" value="{{ data.id }}">
{% else %}
<form action="{{ url('categorie_create') }}" method="post">
{% endif %}
    {% if data.id %}
    {% endif %}
    <div class="input text">
        <label for="name">nom de la catégorie</label>
        <input type="text" name="name" id="name"{% if data.name %} value="{{ data.name }}"{% endif %}{% if error.name %} class="error"{% endif %}>
        {% if error.name %}
        <span class="error">{{ error.name }}</span>
        {% endif %}
    </div>
    <div class="input submit">
        <button class="primary" type="submit">
            {% if data.id %}
            éditer
            {% else %}
            ajouter
            {% endif %}
        </button>
    </div>
</form>
{% endblock %}
